html,body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsl(231, 10%, 13%);
    padding: 0%;
    margin: 0%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(231, 10%, 13%);
}
.button_border{
    background: linear-gradient(115deg, hsl(33, 81%, 66%),hsl(18, 60%, 54%), hsl(354, 89%, 35%), hsl(327, 51%, 46%), hsl(261, 77%, 29%));
    padding: 2px;
}
.button{
    border: none;
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 80%);
    padding: 1em 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1em;
}

.button_border:hover{
background:linear-gradient(115deg, hsl(327, 51%, 46%),hsl(18, 60%, 54%), hsl(354, 89%, 35%), hsl(261, 77%, 29%) hsl(33, 81%, 66%));
}
.button_border:hover .button{
    color: hsl(0, 0%, 100%);
    padding: 1.2em 1.7em;
}
