.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(231, 10%, 13%);
}
.button_border{
    background: linear-gradient(115deg, #eeaf61,#fb9062, #ee5d6c, #ce4993, #6a0d83);
    padding: 2px;
}